.MainProject {
    text-align: center;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    margin-bottom: 20px;
    color: #444444;
    width: 100%;
    margin: 60px 0px;
}

.mainProjectCard {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.251);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.cardBtn2 {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 60px;
    background-color: orange;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardBtn2 p {
    font-size: 18px;
    font-weight: 700;
}

.mainProjectCard:hover .cardBtn2 {
    bottom: 0;
}

@media (max-width:480px) {
    .MainProject {
        font-size: 18px;
    }

    .mainProjectCard {
        width: 200px;
        height: 250px;
    }

    .cardBtn2 {
        height: 40px;

    }
}

@media (min-width:481px) {
    .MainProject {
        font-size: 20px;
    }
}

@media (min-width:980px) {
    .MainProject {
        font-size: 26px;
    }

    .mainProjectCard {
        height: 400px;
        width: 50%;
    }
}