.ContactMeTextPera {
    margin: 20px 0px 30px 0px;
}

.ContactMeText {
    align-self: flex-start;
    font-size: 40px;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    color: #444444;
    width: 100%;
    margin-bottom: 20px;
}

.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.addressBox {
    width: 550px;
    height: 315px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.outerEffect2 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.addressBox:hover .outerEffect2 {
    transform: translateY(100%);
}

.findMe {
    color: black;
    background-color: transparent;
    z-index: 1;
    font-size: 20px;
}

.email {
    color: black;
    background-color: transparent;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mobileNO {
    color: black;
    background-color: transparent;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.addressBox:hover .findMe,
.addressBox:hover .iconFindMe,
.addressBox:hover .email,
.addressBox:hover .EmailIcon,
.addressBox:hover .CallIcon,
.addressBox:hover .mobileNO {
    background-color: transparent;
    color: white;
}

.ContactBox {
    width: 550px;
    height: 315px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 15px;
    background-color: transparent;
}

#name {
    border: 2px solid;
    width: 100%;
    height: 20%;
    margin: 10px 0;
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email {
    border: 2px solid;
    width: 100%;
    height: 20%;
    margin: 10px 0;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.349);
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg {
    border: 2px solid;
    width: 100%;
    height: 80px;
    margin: 10px 0;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.349);
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}

.sendBtn {
    height: 40px;
    width: 100px;
    border: 2px solid;
    transition: all 0.3s ease;
}

.sendBtn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.sendBtn:hover {
    background-color: white;
    color: #444444;
}

@media (max-width:480px) {
    .ContactMeText {
        font-size: 18px;
    }

    .ContactMeTextPera {
        font-size: 14px;
    }

    .ContactMe {
        /* height: 800px; */
        padding: 0 30px;
    }

    .findMe {
        font-size: 16px;
    }

    .email {
        font-size: 12px;
    }

    .mobileNO {
        font-size: 12px;
    }

    #name,
    #email,
    #msg {
        font-size: small;
    }

    .sendBtn a {
        font-size: 12px;
    }
}

@media (min-width:480px) {
    .ContactMeText {
        font-size: 20px;
    }

    .ContactMeTextPera {
        font-size: 16px;
    }

    .ContactMe {
        /* height: 800px; */
    }

    .findMe {
        font-size: 18px;
    }

    .email {
        font-size: 14px;
    }

    .mobileNO {
        font-size: 14px;
    }
}

@media (min-width:980px) {
    .ContactMeText {
        font-size: 26px;
    }

    .ContactMeTextPera {
        font-size: 18px;
    }

    .findMe {
        font-size: 20px;
    }

    .email {
        font-size: 16px;
    }

    .mobileNO {
        font-size: 16px;
    }

}

@media (max-width:1180px) {
    .extraInfo {
        display: none;
    }
}