.projectContent {
    padding: 0px 30px;
    /* height: 800px; */
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.projectText {
    align-self: flex-start;
    font-size: 40px;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    margin-bottom: 20px;
    color: #444444;
    width: 100%;
}

@media (max-width:480px) {
    .projectText {
        font-size: 18px
    }
}

@media (min-width:481px) {
    .projectText {
        font-size: 20px
    }
}

@media (min-width:980px) {
    .projectText {
        font-size: 26px;
    }

}