.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 20px;
    flex: 0.4;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.752);
    border-radius: 30px;
    /* background: #000; */
}

.skillBox {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 25px;
    gap: 10px;
}

.skillBox h2 {
width: 100%;
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 0.3;
}

@media (max-width:480px) {
    .skills {
        box-shadow: none;
    }

    .skillBox {
        height: 600px;
        flex-wrap: wrap;
    }

    .list {
        padding: 10px;
        width: 50%;
    }
}

@media (min-width:481px) {
    .skills {
        box-shadow: none;
    }

    .skillBox {
        flex-wrap: wrap;
    }

    .list {
        padding: 10px;
        width: 50%;
    }
}

@media (min-width:1426px) {
    .skills {
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.752);
    }
}