form {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 15px;
}

#name {
    border: 1px solid;
    width: 100%;
    height: 20%;
    margin: 10px 0;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email {
    border: 1px solid;
    width: 100%;
    height: 20%;
    margin: 10px 0;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg {
    border: 1px solid;
    width: 100%;
    height: 80px;
    margin: 10px 0;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}

.sendBtn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.sendBtn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:480px) {

    #name,
    #email,
    #msg {
        font-size: small;
    }

    .sendBtn a {
        font-size: 12px;
    }
}