.mainContent {
    height: 100vh;
    display: flex;
    position: relative;
}

/* leftMainContent */
.leftMainContent {
    flex: 0.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: transparent;
    text-align: center;
}

.spanText2 {
    background-color: transparent;
}

h1 {
    background-color: transparent;
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0;
}

.mainPera {
    font-size: 18px !important;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.socialMedialinks {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}

.socialMedialinks a {
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contactMe {
    background-color: transparent !important;
}

.hireMe {
    margin-top: 30px;
    font-weight: 500;
    padding: 12px 20px;
    background: rgba(83, 89, 83, 0.199);
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.hireMe:hover {
    background-color: #00C9FF;
    color: white;
}

/* rightMainContent */
.rightMainContent {
    flex: 0.6;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    /* background: #000; */
    margin-bottom: 100px;
}

.heroImage {
    background-image: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1748932412/heroImage_btqyin.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imageAnimate 5s ease-in-out infinite;
    transition: all 0.3s ease;
}

.heroImage:hover {
    background-image: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1748932497/gif1_uovphm.gif");
    opacity: 0.5;
}

.justStylingforHeader1 {
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right:100px;
    animation: transformCircle 6s ease 0s infinite alternate;
    filter: blur(4px);
    box-shadow: 0 0 1000px 100px #ffffff6c;
}

.justStylingforHeader2 {
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    bottom: 100px;
    left: 50px;
    animation: transformCircle 3s ease 0s infinite alternate;
    filter: blur(4px);
    box-shadow: 0 0 1000px 150px #ffffff6c;
}

@keyframes transformCircle {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(600px);
    }
}

@keyframes imageAnimate {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

@media (max-width:480px) {
    .leftMainContent {
        flex: 0.12;
        z-index: 1;
        margin: 0 auto;
        width: 100vh;
        position: relative;
    }

    .rightMainContent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .heroImage {
        height: 100vh;
        width: 100vh;
        position: absolute;
        border-radius: 0;
        animation: none;
        background-position: calc(450px);
    }

    .overlay {
        background: #00000030;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .spanText2 {
        color: #ffffff;
    }

    .hireMe {
        margin-top: 50px;
        font-weight: 500;
        padding: 12px 20px;
        background: rgb(0, 0, 0);
        border: none;
        border-radius: 10px;
        transition: 0.4s;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    .hireMe:hover {
        box-shadow: 1px 1px 20px rgb(0, 0, 0);
    }
}

@media (min-width:481px) {
    .mainContent {
        flex-direction: column-reverse;
    }

    .leftMainContent {
        text-align: center;
    }

    .heroImage {
        height: 300px;
        width: 300px;
        position: absolute;
        /* top: 90px; */
    }

    .spanText2 {
        font-size: 24px;
        font-weight: 700;
    }

    h1 {
        font-size: 24px;
    }

    .mainPera {
        font-size: 14px;
        padding: 25px;
    }
}

@media (min-width:980px) {
    .mainContent {
        flex-direction: row;
    }

    .leftMainContent {
        margin-left: 20px;
    }

    .heroImage {
        height: 400px;
        width: 400px;
    }

    .spanText2 {
        font-size: 48px;
    }

    h1 {
        font-size: 48px;
    }

    .mainPera {
        font-size: 14px;
    }

    .socialMedialinks a {
        padding: 3px;
    }
}

@media (max-width:284px) {
    .spanText2 {
        font-size: 28px;
    }

    h1 {
        font-size: 28px;
    }

    .mainPera {
        font-size: 10px;
    }
}