.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex: 0.4;
    border-radius: 30px;
}

.introBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
}

.introBox h2 {
    margin-bottom: 20px;
    color: white;
}

.introPera {
    color: white;
    font-size: 18px;
}

@media (max-width:480px) {
    .intro {
        box-shadow: none;
        padding: 15px;
    }
}