.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.4;
}

.introBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 30px;
}

.introBox h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.introPera {
    color: white;
    line-height: 30px;
    font-size: 18px;
}

@media (max-width:480px) {
    .intro {
        box-shadow: none;
    }
}